.inputContainer {
  display: flex;
  justify-content: center;
}

.searchInput {
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;
  border-radius: 60px;
  background: rgba(255, 255, 255, 0.2);
  margin-top: 5%;
  color: black;
}

.searchInput input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 20px;
  font-size: 20px;
  color: #202020;
}
::placeholder {
  color: #6c6565;
  letter-spacing: 0.1px;
}

.searchInput button {
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #f6f6f6;
  cursor: pointer;
}
.searchIcon {
  height: 2em;
  width: 2em;
}

/* Media queries */

@media (max-width: 768px) {
  .searchInput {
    max-width: 400px;
  }
  .searchInput input {
    font-size: 16px;
    padding: 10px;
  }
  .searchIcon {
    height: 1.5em;
    width: 1.5em;
  }
}

@media (max-width: 480px) {
  .searchInput {
    max-width: 300px;
  }
  .searchInput input {
    font-size: 14px;
    padding: 8px;
  }
  .searchIcon {
    height: 1.2em;
    width: 1.2em;
  }
}
